// base colors
$primarycolor: 	#2d2d30;
$successcolor: #5cb85c;
$infocolor: #1976d2;
$textcolor: #3e3e42ee;
$uicolor: #adadad;
$whitecolor: #f7f7f7;
$materialBlue: #2196f3;

$chartcolorprimary: #8884d8;
$chartcolorsecondary: #82ca9d;


// Error colors
$errorcolor: #d9534f;
$warningcolor: #f0ac4ed5;

$color-one: #1F2124;
$color-two: #383A3F;
$color-three: #F68657;
$color-four: #F6B352;