
@import "base.scss";


.edit--user--container {

    .edit--user--title {
        font-size: 1.2em;
        padding: 0px;
        margin-left: 20px;
        margin-bottom: 2px;
    }

    .editUser {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 10px 0px;
    
        .input--type--edit {
            margin: 7px 5px;
            min-width: 390px;
            color: $whitecolor;
    
            @media (max-width: 700px) {
                min-width:300px;
                width: 80%; 
            }
        }
    
        .button--group {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            min-width: 200px;
            margin-top: 10px;
        }
    }

    @media (max-width: 700px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

